<div class="card-demo">
  <h2>Demo</h2>
  <div class="demo">
    <app-m-multi-select [options]="options"></app-m-multi-select>
  </div>
  <h2>Attribute</h2>
  <app-attribute-table
    style="margin-top: 40px;"
    [headers]="headers"
    [contents]="contents"
  ></app-attribute-table>

  <h2>Code</h2>
  <app-code-part>
    <div
      style='color: rgb(212, 212, 212); background-color: rgb(30, 30, 30); font-family: Menlo, Monaco, "Courier New", monospace; font-size: 12px; line-height: 18px; white-space: pre;'
    >
      <span style="color: #808080;">&lt;</span
      ><span style="color: #569cd6;">app-m-multi-select</span>&nbsp;<span
        style="color: #9cdcfe;"
        >[options]</span
      >=<span style="color: #ce9178;">"options"</span
      ><span style="color: #808080;">&gt;&lt;/</span
      ><span style="color: #569cd6;">app-m-multi-select</span
      ><span style="color: #808080;">&gt;</span>
    </div>
  </app-code-part>
</div>
