.card-demo {
  p {
    font-size: 14px;
    color: #5e6d82;
    line-height: 1.5em;
  }

  .code-part {
    background-color: rgb(35, 40, 52);
    padding: 10px;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  tr td {
    // height: 35px;
    // line-height: 35px;
    padding: 15px;
    font-size: 14px;
    border-bottom: 1px solid #d8d8d8;
  }
}
