<div class="demo-page">
  <h1>Pagination</h1>
  <tabset>
    <tab heading="Overview" id="overview">
      <div class="demo">
        <p class="content">
          &lt;m-pagination&gt; 提供翻页功能, 基于 manulife design style。
        </p>
        <m-pagination
          [total]="12"
          (changePage)="changePage($event)"
          placement="right"
        ></m-pagination>
      </div>
    </tab>
    <tab heading="API" id="id">
      <app-md-table>
        <div [innerHTML]="apiTable"></div>
      </app-md-table>
    </tab>
    <tab heading="Examples" id="examples">
      <div class="code-part" style="color: #fff;">
        <tabset>
          <tab heading="template" id="template">
            <div [innerHTML]="code"></div>
          </tab>
        </tabset>
      </div>
    </tab>
  </tabset>
</div>
