.card-demo {
  p {
    font-size: 14px;
    color: #5e6d82;
    line-height: 1.5em;
  }

  .code-part {
    background-color: rgb(35, 40, 52);
    padding: 10px;
  }
  button{
    background: #5e6d82;
    color: #fff;
    margin: 20px;
    padding: 10px 20px;
  }
}
