/*
 Theme color definition area -- finish --
*/
$bg-color: #fafafa;
$bg-active-color: #fff;
$bg-warn-color: #f8ebe9;
$bg-orange-color: #ec6453;
$bg-dark-color: #34384b;
$bg-green-color: #00a758;

$border-clr: #0f1119;
$border-light-clr: #8e90a2;
$border-red-clr: #dc5a44;
$border-green-clr: #00a758;

$font-normal-clr: #202336;
$font-white-clr: #fff;
$font-light-clr: #8e90a2;
$font-dark-gray-clr: #5e6073;
$font-gray-clr: #ededed;
$font-green-clr: #06874e;
$font-red-clr: #c14a36;
$font-link-clr: #282b3e;
$font-link-active-clr: #211ccf;

$font-size-xl: 4em;
$font-size-l: 2em;
$font-size-m: 1em;
$font-size-s: 0.7em;
$font-size-xs: 0.4em;

$activeColor: #409eff;
$darkColor: #222;
$hoverBg: #f4f4f4;
$borderColor: #f4f4f4;
$primaryColor: #409eff;
/*
 Theme mixin definition area -- begin --
*/