/* You can add global styles to this file, and also import other style files */
@import './app/shared/plugins/carousel/carousel.css';


@import './styles/theme.scss';
.md-table {
  font-size: 20px;
  color: #666;
  td, th{
    padding: 15px;
    border-bottom: 1px solid #d8d8d8;
    font-size: 14px !important;
  }
}
.code-part {
  code {
    color: #fff;
  }
}
